mixin addFlashMessage()
	- msg = flash();
	if(msg)
		if(msg.error)
			p.error= msg.error
		if(msg.info)
			p.info= msg.info
	
mixin addMeta(name, content)
	meta(name=name,content=content)

mixin addScript(src)
	script(type="text/javascript",src=src)
	
mixin addStyle(href)
	link(type="text/css",href=href,rel="stylesheet")
		
mixin addButton(href, label, icon, button)
	- button = button || "primary";
	- if(button && typeof button == "string")button = [button];
	- var classButton = "btn";
	- for(var i in button){
	- 	var name = button[i];
	- 	if(name.indexOf("icon-") != 0){
	-		name = "btn-" + name;
	-	}
	-	if(classButton.length > 0)classButton += " ";
	-	classButton += name;
	- }
	button(href=href,class=classButton)
		if(icon)
			+addIcon(icon)
		| &nbsp;#{label}
		
mixin addIcon(icon)
	- if(icon && typeof icon == "string")icon = [icon];
	- var classIcon = "";
	- for(var i in icon){
	- 	var name = icon[i];
	- 	if(name){
	- 		if(name.indexOf("icon-") != 0){
	- 			name = "icon-" + name;
	- 		}
	- 		if(classIcon.length > 0)classIcon += " ";
	- 		classIcon += name;
	- 	}
	- }
	i(class=classIcon)
	
mixin listIcons()
	-var icons = ["glass","music","search","envelope","heart","star","star-empty","user","film","th-large","th","th-list","ok","remove","zoom-in","zoom-out","off","signal","cog","trash","home","file","time","road","download-alt","download","upload","inbox","play-circle","repeat","refresh","list-alt","lock","flag","headphones","volume-down","volume-up","qrcode","barcode","tag","tags","book","bookmark","print","camera","font","bold","italic","text-height","text-width","align-left","align-right","align-center","align-justify","list","indent-left","indent-right","facetime-video","picture","pencil","map-marker","adjust","tint","edit","share","check","move","step-backward","fast-backward","backward","play","pause","stop","forward","fast-forward","step-forward","eject","chevron-left","chevron-right","plus-sign","minus-sign","remove-sign","ok-sign","question-sign","info-sign","screenshot","remove-circle","ok-circle","ban-circle","arrow-left","arrow-right","arrow-up","arrow-down","share-alt","resize-full","resize-small","plus","minus","asterisk","exclamation-sign","gift","leaf","fire","eye-open","eye-close","warning-sign","plane","calendar","random","comment","magnet","chevron-up","chevron-down","retweet","white","shopping-cart","folder-close","folder-open","resize-vertical","resize-horizontal"];
	- for(var i in icons)
		- var icon = icons[i]
		br
		+addButton("#", icon, icon)
		
mixin addForm(action, method)
	form(action=action,method=method)
		block
		
mixin addInput(label, id, prompt, value, error)
	label(for=id)
		span #{label}: 
		| &nbsp;
		input(id=id, name=id, placeholder=prompt, value=value)
	+addError(label, error)
		
mixin addTextArea(label, id, prompt, value, error)
	label(for=id) 
		span #{label}: 
		| &nbsp;
		textarea(id=id, name=id, placeholder=prompt) #{value}
	+addError(label, error)
	
mixin addError(label, error)
	if(error)
		p.error #{label}: #{error}
	
